fastapi==0.72.0
python-dotenv==0.19.2
sqlalchemy==1.4.29
alembic==1.7.5
python-slugify==5.0.2 
python-multipart==0.0.5
pandas==1.4.1
uvicorn==0.17.5
pydantic[email]==1.9.0
python-jose==3.3.0
passlib==1.7.4
psycopg2==2.9.3
bcrypt==3.2.0